<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h2>Add Student</h2>
<form th:action="@{/admin/students/add}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <button type="submit">Add Student</button>
</form>
<a href="/admin/students">Back to Students List</a>
</body>
</html>
